{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "describe": true,
    "it": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "modules": true,
    "classes": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "indent": [2, 2],
    "quotes": [2, "single", "avoid-escape"],
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "strict": [2, "never"],
    "comma-dangle": [2, "never"],
    "no-shadow": [0],
    "no-use-before-define": [2, "nofunc"],
    "no-param-reassign": [2, {"props": false}],
    "new-cap": [0],
    "object-curly-spacing": [2, "always"],
    "no-undef": 2,
    "prefer-const": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-else-return": 0,
    "no-console": 0,
    "no-throw-literal": 0,
    "id-length": 0,

    "no-unused-vars": 0,
    "padded-blocks": 0,
    "block-scoped-var": 0
  }
}
