/*
 * react-calendar-heatmap styles
 *
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #8F98A6
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #7B8472
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-scale-0 {
  fill: #7B8472
}
.react-calendar-heatmap .color-scale-1 {
  fill: #81C784
}
.react-calendar-heatmap .color-scale-2 {
  fill: #4CAF50
}
.react-calendar-heatmap .color-scale-3 {
  fill: #388E3C
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1B5E20
}
