/*
 * react-calendar-heatmap styles
 *
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #4C4C4C;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-scale-0 {
  fill: #4C4C4C;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #757575
}
.react-calendar-heatmap .color-scale-2 {
  fill: #616161
}
.react-calendar-heatmap .color-scale-3 {
  fill: #424242
}
.react-calendar-heatmap .color-scale-4 {
  fill: #212121
}
