html {
  body {
    background-color: #2D2D2D;
    color: #8F98A6;
    margin: 0px;

    input[disabled].input-editable {
      background-color: transparent;
      color: inherit;
      font-size: inherit;
      border: none;
      box-shadow: none;
    }
  }
}
